<div class="row">
  <div class="col-md-3 m-4">
    <%= render 'customer_search_form' %>
  </div>
  <div class="col-md-8 ml-3">
    <h2 class="mb-3">ユーザー</h2>
    <%= render 'index_customer', customers: @customers %>
  </div>
</div>
