<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'search_foot' %>
    </div>
    <div class="col-md-8">
      <%= render 'index_customer', customers: @customers %>
    </div>
  </div>
</div>