<div class="row">
  <div class="col-md-3. m-4">
    <%= render 'info', customer: current_customer %>
  </div>
  <div class="col-md-8 ml-4">
    <h2>ブックマーク一覧</h2>
    <%= render 'public/shoes/index_shoe', shoes: @keep_shoes %>
  </div>
</div>
