<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', customer: current_customer %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>ブックマーク一覧</h2>
      <%= render 'public/shoes/index_shoe', shoes: @keep_shoes %>
    </div>
  </div>
</div>