<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', customer: @customer %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>User 投稿</h2>
      <%= render 'public/shoes/customer_index_shoe', shoes: @shoes %>
    </div>
  </div>
</div>
