<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', customer: @customer %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>User 投稿</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>画像</th>
            <th>商品名</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @shoes.each do |shoe| %>
            <tr>
              <td>
                <%= link_to shoe_path(shoe) do %>
                  <%= image_tag shoe.get_shoe_image(100,100) %>
                <% end %>
              </td>
              <td>
                <%= shoe.name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
