<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>コメント一覧</h1>
      <% @shoe_comments.each do |comment| %>
        <%= link_to admin_customer_path(comment.customer) do %>
          <%= image_tag comment.customer.get_profile_image(50,50) %>
        <% end %>
        <%= comment.customer.name %>
        <%= link_to comment.comment, admin_shoe_comment_path(comment) %>
      <% end %>
    </div>
  </div>
</div>
