<div class="tag-index" %>
  <% tags.each do |tag| %>
    <%= link_to search_path(tag_id: tag.id) do %>
      <i class="fas fa-hashtag"></i>
      <%= tag.name%>
      (<%= tag.shoes.count %>)
    <% end %>
  <% end %>
</div>