<div class="row">
  
  <!--検索フォーム-->
  <div class="col-md-3 m-4">
    <%= render 'search_form' %>
  </div>
  <!--end-->
  
  <!--タグ・ユーザー・シューズ各々一覧-->
  <div class="col-md-8 ml-3">
    <% if @range == "Tag" %>
      <h2 class="mb-3">タグ検索</h2>
      <%= render 'tag_index', tags: @tags %>
    <% elsif @range == "Customer" %>
      <h2 class="mb-3">ユーザー検索</h2>
      <%= render 'public/customers/index_customer', customers: @customers %>
    <% else %>
      <h2 class="mb-3">シューズ検索</h2>
      <% if @shoes.empty? %>
        <span class="m-3">該当の投稿はありません</span>
      <% else %>
        <%= render 'public/shoes/customer_index_shoe', shoes: @shoes %>
      <% end %>
    <% end %>
  </div>
  <!--end-->
  
</div>