<div class="container my-5 w-75">
  <h5 class="d-inline highlight">会員一覧</h5>
  <div class="my-4">
    <table class="table table-hover">
      <tr>
        <th class="custom-header">会員ID</th>
        <th class="custom-header">ユーザー名</th>
        <th class="custom-header">メールアドレス</th>
        <th class="custom-header">ステータス</th>
      </tr>
      <% @customers.each do |customer| %>
        <tr>
          <td>
            <%= customer.id %>
          </td>
          <td>
            <%= customer.name %>
          </td>
          <td>
            <%= customer.email %>
          </td>
          <td>
    		    <% if customer.is_deleted %>
    		      <span>退会</span>
    		    <% else %>
    		      <span>有効</span>
    		    <% end %>
    		  </td>
    		  <td>
            <%= link_to '詳細', admin_customer_path(customer) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
        
