<div class="row">
  <div class="col-md-3 m-4">
    <%= render 'search_shoe' %>
  </div>
  <div class="col-md-8 ml-3">
    <%= render 'index_shoe', shoes: @shoes %>
    <div class="d-flex justify-content-center">
      <%= paginate @shoes %>
    </div>
  </div>
</div>