<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'search_shoe' %>
    </div>
    <div class="col-md-8">
      <%= render 'index_shoe', shoes: @shoes %>
    </div>
  </div>
</div>
