<li>
  <%= link_to root_path, class:"nav-link text-light" do %>
    <span><i class="fas fa-home"></i> Home</span>
  <% end %>
</li>
<li>
  <%= link_to about_path, class:"nav-link text-light" do %>
    <span><i class="fas fa-shoe-prints"></i></i> About</span>
  <% end %>
</li>
<li>
  <%= link_to new_customer_registration_path, class:"nav-link text-light" do %>
    <span><i class="fas fa-user-plus"></i> Sign up</span>
  <% end %>
</li>
<li>
  <%= link_to new_customer_session_path, class:"nav-link text-light" do %>
    <span><i class="fas fa-sign-in-alt"></i> Log in</span>
  <% end %>
</li>